body {
    background: url(assets/grid.png);
    background-color: #8FB59C;
    background-blend-mode: screen;
    min-height: 465px;
}
.main-text {
    font-family: 'Oswald', sans-serif;
}
#product-title {
    font-size: 17em;
}
.container-fluid {
    min-height: 100%;
    position: relative;
}
#header {
    padding: 10px;
}
#info-bar{
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    width: 100%;
    background-color: #301330;
}
#info-bar > p {
    color: white;
    text-align: center;
}
.center {
    text-align: center;
}
.landing-buttons {
    padding: 20px;
}
#newReport_trigger {
    width: 150px;
}
#login_trigger {
    width: 150px;
}
.body-text {
    font-family: "Slabo 27px", sans-serif;
    font-size: 35px;
    text-align: center;
}
#newReport_ticketNumber {
    font-style: bold;
    font-size: 50px;
    text-align: center;
    color: #301330;
}
#help-text {
    margin: 5px;
    margin-left: 30px;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}
.loginForm {
    display: block;
    margin: 5px;
    margin-left: 40%;
}
.loginTxt {
    width: 175px;
    text-align: center;
}
#label-username {
    margin-top: 30px;
}
#checkTicket {
    position: absolute;
    display: inline;
    height: 60px;
    padding-bottom: 6px;
    margin-left: 10px;
    cursor: pointer;
}
.back {
    margin-left: 50%;
}
@media (max-width: 809px) {
    #product-title {
        font-size: 12em;
    }
}
@media (max-width: 510px) {
    #product-title {
        font-size: 8em;
    }
    #newReport_trigger {
        padding: 20px;
    }
    #login_trigger {
        padding: 20px;
    }
}
@media (max-width: 470px){
    #checkTicket {
        top: 60vh;
        left: 35vw;
        position: static;
    }
    #userQuery {
        width: 80%;
    }
}
@media (max-width: 370px) {
    #product-title {
        font-size: 7em;
    }
    .body-text {
        font-size: 25px;
    }
    #newReport_trigger {
        padding: 20px;
    }
    #login_trigger {
        padding: 20px;
    }
    #checkTicket {
        position: static;
    }
    html {
        min-height: 460px;
    }
}
