body {
    background: url(assets/grid.png);
    background-color: #8FB59C;
    background-blend-mode: screen;
    height: 100%;
}
.main-text {
    font-family: 'Oswald', sans-serif;
}
#product-title {
    font-size: 17em;
}
.container-fluid {
    min-height: 100%;
    position: relative;
}
#header {
    padding: 10px;
}
.main {
    height: 100%;
}
#info-bar{
    overflow: hidden;
    height: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 150;
    margin-bottom: 0px;
    width: 100%;
    background-color: #301330;
}
#footer_push {
    clear: both;
    height: 30px;
}
#info-bar > p {
    color: white;
    text-align: center;
}
.center {
    text-align: center;
}
.landing-buttons {
    padding: 20px;
}
#newReport_trigger {
    width: 150px;
}
#login_trigger {
    width: 150px;
}
#login-wrapper {
    display: none;
}
.login {
    display: none;
}
.body-text {
    font-family: "Slabo 27px", sans-serif;
    font-size: 35px;
    text-align: center;
    color: #301330;
}
#newReport-ticketNumber-wrapper {
    margin-top: 20px;
    display: none;
}
#newReport_ticketNumber {
    font-style: bold;
    font-size: 50px;
    text-align: center;
    color: #301330;
}
#help-text {
    padding: 5px;
    margin-left: 0%;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    display: block;
}
.loginForm {
    display: block;
    margin: 5px;
    margin-left: 40%;
}
.loginTxt {
    width: 175px;
    text-align: center;
}
#label-username {
    margin-top: 30px;
}
#checkTicket {
    position: absolute;
    display: inline;
    height: 60px;
    padding-bottom: 6px;
    margin-left: 10px;
    cursor: pointer;
}
.back {
    margin-left: 47%;
    display: none;
}
/* New Report Form Stuff */
/* Date container in New Report form */
#newReport_date {
    width: 200px;
}
/*Time container in New Report form*/
#newReport_time {
    width: 200px;
}
/*Global placeholder text*/
input::-webkit-input-placeholder {
    color: #cdcdcd;
    opacity: 0.3;
}
/*#newReport_priority span img {
    height: 50px;
    width: 50px;
}*/
#newReport_date {
    padding: 20px;
}
#newReport_time {
    width: 205px;
    padding: 20px;
}
.progress {
    float: left;
    width: 200px;
    position: absolute;
    margin-top: 12px;
}
#welcome-icon {
    height: 75px;
    width: 75px;
    position: relative;
    display: block;
    margin-left: 43%;
    padding: 5px;
}
@media (min-width: 1190px) {
    #welcome-icon {
        margin-left: 45%;
    }
}
@media (max-width: 1090px) {
    #login-wrapper {
        margin-left: -2%;
    }
    #sit-nav-btns {
        margin-left: -2%;
    }
    #product-title {
        font-size: 14em;
    }
}
@media (max-width: 865px) {
    #login-wrapper {
        margin-left: -4%;
    }
    #sit-nav-btns {
        margin-left: -4%;
    }
}
@media (max-width: 809px) {
    #login-wrapper {
        margin-left: -15%;
    }
    #sit-nav-btns {
        margin-left: -15%;
    }
    #product-title {
        font-size: 12em;
    }
}
@media (max-width: 510px) {
    #product-title {
        font-size: 8em;
    }
    #newReport_trigger {
        padding: 20px;
    }
    #login_trigger {
        padding: 20px;
    }
}
@media (max-width: 470px){
    #login-wrapper {
        margin-left: -25%;
    }
    #sit-nav-btns {
        margin-left: -25%;
    }
    #welcome-icon {
        margin-left: 40%;
    }
    #checkTicket {
        top: 60vh;
        left: 35vw;
        position: static;
    }
    #userQuery {
        width: 80%;
    }
}
@media (max-width: 370px) {
    #login-wrapper {
        margin-left: -35%;
    }
    #sit-nav-btns {
        margin-left: -35%;
    }
    #welcome-icon {
        margin-left: 35%;
    }
    #product-title {
        font-size: 7em;
    }
    .body-text {
        font-size: 25px;
    }
    #newReport_trigger {
        padding: 20px;
    }
    #login_trigger {
        padding: 20px;
    }
    #checkTicket {
        position: static;
    }
    html {
        min-height: 460px;
    }
}
