/* default text styling */
.text {
    font-family: 'Slabo 27px';
    font-size: 15px;
}
/* Color of anchors in the top nav bar */
.ym-hlist ul li a {
    color: #fff;
    font-size: 20px;
}
/* top nav bar properties */
.ym-hlist {
    height: 50px;
    background-color: #301330;
    position: relative;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.24);
}
/* Elements inside top nav bar */
.nav-element {
    margin: 0 auto;
}
/* Buttons inside top nav bar */
.nav-buttons {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.24);
    float: right;
    margin: 2px;
    padding: 5px;
}
/* Styling of the website title */
#nav-title {
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
/* Size of the icon division of the top nav bar buttons */
.ym-button:before {
    width: 2em;
}
/* Center column (encloses our main-panel/table of reports) */
.main-panel-container {
    display: block;
    margin: 0 auto;
    padding: 0px;
}
.main-panel {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.24);
}
/* Either side of the main panel container */
.side-panel {
    background-image: url(assets/grid.png);
    background-color: #8FB59C;
    background-blend-mode: screen;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.24);
    height: 500%;
}
/* Each section of the table header */
.main-panel-header-contents {
    text-align: center;
    background-color: #E8C571;
    color: black;
    font-size: 8px;
}
.main-panel th:nth-of-type(4) {
    cursor: pointer;
}
/* Icons of the table header */
.main-panel-header-contents > img {
    height: 30px;
    width: 30px;
}
/* Control for ALL reports */
.report-elements {
    text-align: center;
    cursor: pointer;
}
/* Override text alignment of report title */
.report-title {
    text-align: left;
}
/* Flag/icon sizes of elements in each report */
.report-icons > img {
    height: 30px;
    width: 30px;
}
/* Slide the table under the top nav bar */
.main-panel {
    margin-top: -2px;
}
/* Height of the table rows */
.main-panel > tbody > tr {
    height: 50px;
}
/* Main area of the application. Overrides Bootstrap */
.container-fluid {
    margin: 0 auto;
    padding: 0px;
}
/*View and Delete buttons on every report entry*/
.report-tools {
    position: relative;
    z-index: 100;
}
/*Detailed view text*/
.full-info-text {
    font-size: 17px;
    display: inline;
    padding: 1px;
    text-justify: inter-word;
}
/*Detailed view icons*/
.full-info-icons {
    padding: 10px;
}
/*Align details text section in detailed view*/
.details {
    margin-left: 9px;
}
/*Align request category container in detailed view*/
.request_container {
    margin-left: -2px;
}
/*Detailed report title*/
#full-info-title {
    color: #cdcdcd;
}
/*Resolved icons*/
#resolved_icon {
    float: left;
    height: 30px;
    width: 30px;
    display: inline-block;
    display: none;
}
/*Confirmation Popup*/
#confirm-title {
    color: #cdcdcd;
    display: inline-block;
}
#confirm_close {
    display: inline-block;
}
/*Priority container text color*/
.priority_container {
    color: white;
}
/*Date container in New Report form*/
#newReport_date {
    width: 200px;
}
/*Time container in New Report form*/
#newReport_time {
    width: 200px;
}
/*Global placeholder text*/
input::-webkit-input-placeholder {
    color: #cdcdcd;
    opacity: 0.3;
}
#newReport_date {
    padding: 20px;
}
#newReport_time {
    width: 205px;
    padding: 20px;
}
#edit_issue {
    float: left;
}
#viewReport_dateMsg {
    margin-left: 5px;
    padding-top: 5px;
    float: left;
}
.vDivider {
    height: 30px;
    width: 2px;
    box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    margin-right: 15px;
    float: left;
}
.saveTools {
    display: none;
}
#editReport_save {
    float: left;
}
#editReport_discard {
    float: left;
}
#editReport_progress {
    float: left;
    display: inline;
}
#editReport_duration {
    padding: 10px;
}
.greyOut {
    -webkit-filter: grayscale(100%);
}
.timer {
    display: inline-block;
    position: relative;
    margin-left: 2px;
    top: 8px;
}
.progress {
    float: left;
    width: 200px;
    position: absolute;
    margin-top: 12px;
}
#editReport {
    display: none;
}
.restore {
    display: none;
}
/*Tools for each report in the report display*/
.report-tools > button {
    margin: 3px;
}
.adminPriority_icons {
    height: 40px;
    width: 40px;
}
#editReport_durationSlider {
    margin: 10px 10px 0px 10px;
}
.noUi-connect {
    background-color: #301330;
}
#adminDetailsSection {
    bottom: 0px;
}
.notes_container {
    min-height: 100px;
}
#adminDetailsSection_icon {
    margin-left: 50%;
    margin-top: 25px;
    padding: 2px;
}
.paperBackground {
    background-image: url(assets/linedPaper.png);
}
.duration_container {
    text-align: right;
}
.alt-repTools {
    display: none;
    width: 35px;
    height: 35px;
}
#contact_client {
    margin-bottom: 5px;
}
#nav_bar {
    height: 50px;
    background-color: #301330;
    display: block;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.24);
}
.list_no_style {
    list-style: none;
}
@media (max-width: 959px) {
    .alt-repTools {
        display: inline-block;
    }
    .org-repTools {
        display: none;
    }
}
@media (max-width: 767px) {
    .report-icons > img {
        height: 23px;
        width: 23px;
    }
    .main-panel > tbody > tr {
        height: 100px;
    }
    .main-panel-header-contents > img {
        height: 25px;
        width: 25px;
    }
    .side-panel {
        height: 15%;
    }
}
@media (max-width: 600px) {

}
@media (max-width: 507px) {
    .main-panel > tbody > tr {
        height: 150px;
    }
    #logout {
        position: absolute;
        width: 45px;
        height: 35px;
    }
    #report {
        width: 45px;
        height: 35px;
    }
    .btn-icons {
        padding-top: 3px;
    }
    #logout > span:nth-of-type(2) {
        display: none;
    }
    #report > span:nth-of-type(2) {
        display: none;
    }
}
@media (max-width: 429px) {
    .ym-hlist {
        height: 100px;
    }
}
@media (max-width: 300px) {
    #nav-title {
        font-size: 24px;
    }
}
